html, body, div {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  background-color: #f7f7f7;
}

.board { 
  display:flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font: 300 14px 'Lato';
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.directions {
  margin: 20px auto;
  text-align: center;
}

.row {
  width: 200px;
  margin: 0 auto;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

.tile {
  background-color: lightgray;
  float: left;
  text-align: center;
  border-width: 2px;
  border-style: outset;
  line-height: 20px;
  height: 20px;
  width: 20px;
}

.explored {
  border-style: inset;
}

.bombed, .flagged {
  color: red;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 40%;
  left: 40%;
  border-radius: 10px;
  color: #000;
  width: 250px;
  height: 150px;
  background: lightgray;
  opacity: 1;
}

.modal p {
  font: bold 2rem 'Lato', 'Helvetica';
}

.modal button {
  width: 150px;
  height: 30px;
  padding: 10px;
  margin-top: 5%;
  border-radius: 10px;
  color: #fff;
  background-color: #5188e0
}